/* Signin component styles */
.backg1 {
  background-image: url('../images/Signup.jpg'); 
  /* background-color: #F0858E; */
  height: 92.489727038626vh;
  overflow: auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.signin-form-width {
  max-width: 35rem
}